/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PRODUCTID]
      ,[CREATEUSER]
      ,[CREATEDATE]
      ,[MODIFYUSER]
      ,[MODIFYDATE]
      ,[DESCRIPTION]
  FROM [BAS_SLX_83].[sysdba].[PRODUCT_EXT]